<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SportMasters</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglib.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>ListeTerrains</servlet-name>
    <servlet-class>servlets.ListeTerrains</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeTerrains</servlet-name>
    <url-pattern>/listeTerrains</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterUnTerrain</servlet-name>
    <servlet-class>servlets.AjouterUnTerrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterUnTerrain</servlet-name>
    <url-pattern>/formaj</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MesTerrain</servlet-name>
    <servlet-class>servlets.MesTerrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesTerrain</servlet-name>
    <url-pattern>/mesTerrains</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModificationTerrain</servlet-name>
    <servlet-class>servlets.ModificationTerrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationTerrain</servlet-name>
    <url-pattern>/modificationTerrain</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SuppressionTerrain</servlet-name>
    <servlet-class>servlets.SuppressionTerrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionTerrain</servlet-name>
    <url-pattern>/suppressionTerrain</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>config.InitialisationDaoFactory</listener-class>
  </listener>
</web-app>